@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
// // Import custom variables and Bulma overides
@import "./variables.scss";

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";

body {
    font-family: 'Roboto', sans-serif;
  }
.buttonItem {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 30px;
    padding: 8px;
    color: white;
    border-color: #006373;
    background-color: #006373;
    box-shadow: 2px 2px #03404A;
    border-radius: 4px;
}
h1 {
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #03404A;
}
h2 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    // text-align: center;
    margin-top: 30px;
    color: #006373;
    font-weight: 700;
}
h3 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    color: #006373;
    font-weight: 700;
}
h4 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #006373;
    font-weight: 700;
    margin: 20px;
    // text-align: center;
}
h5{
    font-size: 15pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 25px;
    // text-align: center;
    color: rgb(130, 125, 125);
}
p {
    font-size: 15pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: center;
    color: rgb(130, 125, 125);
}

.homeName {
    font-size: 45pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}
.navItem {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    // font-weight: 800;
}
.RegisterForm{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myCatch{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.myCatch p {
    font-family: 'Roboto';
    font-size: 25px;
    color: #006373;
    font-weight: 600;
    margin: 20px;
}
.myCatch a {

    font-size: 20px;
    font-family: 'Roboto';
    color: #5d5e5e;
}
.diaryList {
    display: flex;
    list-style-type: none;
    padding-left: 30px;
    flex-direction: column;
}

.diaryList h2 {
    text-decoration: none;
    border-bottom: solid 1px grey;
}
.diaryWrap {
    width: 950px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
}
.darkBlue {
    width: 260px;
    background-color: #006373;
    display: flex;
    flex-direction: column;
}
.iconFish {
    width: 50px;
    margin-bottom: 50px;
    animation-duration: 4s;
    animation-name: slidein1;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @keyframes slidein1 {
    from {
      margin-left: 70%;
      width: 30%;
    }
  
    to {
      margin-left: 0%;
      width: 30%;
    }
  }
}
.iconFish2 {
    width: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @keyframes slidein {
    from {
      margin-left: 0%;
      width: 30%;
    }
  
    to {
      margin-left: 70%;
      width: 30%;
    }
  }
}


.mainWrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row
}
.fishPhoto {
    width: 150px;
    border-radius: 4px;
    // box-shadow: 2px 2px #006373;
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.logo-img {
    width: 65%;
    margin: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.homeImage {
    height: auto;
    max-width: 67.8%;
    width: auto;
}
.vertical-list {
    display: flex;
    background-color: #76E0C7;
    flex-direction: column;
    width: 200px;
    flex-direction: column;
}
.myNav {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.formCatch {
    display: flex;
    flex-direction: column;
}
.inforulesWrap {
width: 960px;
}
.infoWrap{
    width: 900px;
    margin-left: 40px;
}
.fish-info {
    margin: 10px;
    padding: 20px;
}
.fish-image {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mapPhoto {
    width: 500px;
    height: 600px;
    margin-left: -90px;
    margin-top: -50px;
}
.rulesWrap{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    /* align-content: space-between; */
    justify-content: space-evenly;
}
.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searchBox {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 30px;
    padding: 8px;
    border-color: #006373;
    box-shadow: 1px 1px 3px 1px #024841;
    border-radius: 4px;
}
.userWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:  67%;
}
.boatInfo {
    padding-left: 20px;
}
.boatData {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: row;
}

.boatData p {
    color: #fff;}

.boatName {
    font-size: 20px;
    color: #006373;
}
.boatListings {
    width: 60%;
    margin: 20px;
    padding: 20px;
    background-color: #13505A;
    color: white;
    border-radius: 5px;
    box-shadow:  1px 1px 5px 1px #024841;
}
.importantDates {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}
.butnLeft {
    margin-left: 700px;
}
.btnLeft {
    margin-left: 600px;
}
.latestEntry {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}
.entryList {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.latestAchiv {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}
.achivList {
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}
.achivList img {
        padding: 20px;
    height: auto;
    width: 200px;
    border: solid #13505A;
    border-radius: 100px;
    box-shadow:  1px 1px 5px 1px #024841;
}
.achievementWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 990px;
}
.achievementWrap img {
    padding: 20px;
    height: auto;
    width: 200px;
    border: solid #13505A;
    border-radius: 100px;
    box-shadow: 1px 1px 5px 1px #024841;
}
.achievementList {
    margin-top: 60px;
    width: 800px;
    display: flex;
    text-align: center;
}
.achievementListItem {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.communityHelp {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}
.helpList {
    display: flex;
    flex-direction: column;
}
.helpItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.weather {
    width: 80%;
    margin: auto;
}
.dropMenu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 3px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    border-color: #006373;
    background-color: #006373;
    box-shadow: 2px 2px #03404A;
    // margin-bottom: 50px;
    margin-left: 20px;
    width: 200px;
}
.dropMenu option {
    background-color: #03404A;
}

.rules-info a {
    color: #13505A;
}
.rules-info a:hover {
    color: #777;
  }
.rules-info {
    font-weight: bold;
    font-size: 25px
}
.footerStyle {
font-weight: bold;
font-size: 10px;
text-align: center;
}
.headerStyle {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #13505A;
    font-weight: 700;
}
.rules{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px
}
#app {
    min-height: 100vh;
}
.footer {
    background-color: #13505A;
    color: #fff;
    height: 50px;
    position: sticky;
    top: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.add-listing {
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
}

.add-listing button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 30px;
    padding: 8px;
    color: white;
    border-color: #006373;
    background-color: #006373;
    box-shadow: 1px 1px 3px 1px #024841;
    border-radius: 4px;
}
.marketplace-body {
    position: relative;
    width: 900px;
}
.marketplace-heading {
    font-size: 45px;
    text-align: center;
}
.listing {
    display: flex;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #13505A;
    color: white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}
.listing p {
    margin: 15px;
    color: #fff;
}
.wrapper {
    margin-top: 40px;
    margin-left: 50px;
}
.birdWrap{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    // margin-left: 300px;
    margin-right: 30px;
    width: 900px;
    flex-wrap: nowrap;
}
.birdFormWrap{
    display: flex;
    flex-direction: column;
    margin: 50px;
    flex-wrap: nowrap;
}
.birdWrap a {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.bird-img {
    width: 450px;
    margin-top: 30px;
}
.stat {
    display: flex;
    width: 950px;
    flex-direction: column;
}

.statWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 100%; */
    align-items: flex-start;
    margin-left: 50px;
    align-content: space-around;
}
.stat p {
    font-size: 15pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // margin-left: 20px;
    text-align: center;
    color: grey;
}
.statItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}
.statInfo {
    font-size: 30px;
    font-weight: 700;
    color: #13505A;
    margin-right: 60px;
}
.statNum {
    font-size: 30px;
    font-weight: 700;
    color: #13505A;
    margin-left: 60px;
}
// <<<<<<< HEAD
// // .poacher-form {
// //     width: 50vw;
// //     margin: 10px auto;
// // }
// ||||||| b7b8ea2
// .poacher-form {
//     width: 50vw;
//     margin: 10px auto;
// }
// =======
// .poacher-form {
    
//     margin: 50px ;
// }
// >>>>>>> f32c6986b1274c9072f3ef24f77f6307b0345e9a

.obs-body {
    width: 900px;
}

.form-container  {
    margin: 20px auto;
    width: 50vw;
    // text-align: center;
}
.label {
    color: #006373;
}
// .add-listing-form  {
//     width: 50vw;
//     margin: 10px auto;
// }
// .add-bird-container {
//     border: 2px red solid;
// }

