@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// // Import custom variables and Bulma overides
@import "./variables.scss";

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";

//setting up Gallery for birds
//   .bird-img {

// div.gallery img {
//   margin: 5px;
//   float: left;
//   width: 180px;
// }

// div.gallery img {
//   width: 100%;
//   height: auto;
// }
// div.desc {
//   padding: 15px
// }


body {
    font-family: 'Roboto', sans-serif; 
    
  }
.buttonItem {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 30px;
    padding: 8px;
    color: white;
    border-color: #006373;
    background-color: #006373;
    box-shadow: 2px 2px #03404a;
    border-radius: 4px;
}
h1 {
    font-size: 45pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #03404a;
}
h2 {
    font-size: 30pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
    color: #006373;
    font-weight: 700;
}
h4 {
    font-size: 24pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #006373;
    font-weight: 700;
}
h5 {
    font-size: 15pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: center;
    color: grey;
}
.homeName {
    font-size: 45pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}
.navItem {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    
    // font-weight: 800;
}
.RegisterForm{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myCatch{
    display: flex;
    align-items: center;

}
.diaryList {
    list-style-type: none;
    padding-left: 30px;
}
.diaryWrap {
    width: 65%;
    padding-bottom: 55px;
}
.darkBlue {
    
    width: 260px;
    background-color: #006373;
}
.mainWrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row
}
.fishPhoto {
    width: 150px;
    border-radius: 4px;
    // box-shadow: 2px 2px #006373;
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.logo-img {
    width: 65%;
    margin: auto;
    margin-top: 20px;
    margin-left: 40px;
}
.homeImage {
    height: auto;
    max-width: 67.8%;
    width: auto;
}
.vertical-list {
    display: flex; 
    background-color: #76e0c7;
    flex-direction: column;
    width: 200px;
    flex-direction: column;
  } 
.myNav {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}
.formCatch {
    display: flex;
    flex-direction: column;
}
.inforulesWrap {
width: 960px;
}
.infoWrap{
    width: 900px;
    margin-left: 40px;
}

.fish-info {
    margin: 10px;
    padding: 20px;
}
.fish-image {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mapPhoto {
    width: 500px;
    height: 700px;
}
.rulesWrap{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 50px;

}
.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.userWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:  67%;
}
.boatInfo {
    padding-left: 20px;
}

.boatData {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: row;
}

.boatName {
    font-size: 20px;
    color: #006373;
}

.boatListings {
    width: 60%;
    margin: 20px;
    padding: 20px;
    background-color: #13505A;
    color: white;
    border-radius: 5px;
    // box-shadow: rgba(50 50 50 / 50%) 0px 3px 6px 0px;
}
.importantDates {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}
.latestEntry {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}

.entryList {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.latestAchiv {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}

.achivList {
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}
.achivList img {
        padding: 20px;
    height: auto;
    width: 200px;
    border: solid #13505A;
    border-radius: 100px;
    // box-shadow: rgb(50 50 50 / 50%) 0px 3px 6px 0px;
}

.communityHelp {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid 1px grey;
}

.helpList {
    display: flex;
    flex-direction: column;
}
.helpItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.weather {
    width: 80%;
    margin: auto;
}
.dropMenu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 3px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    border-color: #006373;
    background-color: #006373;
    box-shadow: 2px 2px #03404a;
    // margin-bottom: 50px;
    margin-left: 20px;
    width: 200px;
}
.dropMenu option {
    background-color: #03404a;
}
// .bird-info {
//     margin: 10px;
//     padding: 20px;
// }

// .bird-info p {
//     font-weight: bold;
//     font-size: 30px;
// }

// .bird-image {
//     width: 150px;
    
// }

.rules-info a {
    color: #13505A;
}
.rules-info a:hover {
    color: #777;
  }

.rules-info {
    font-weight: bold;
    font-size: 30px;
}

.footerStyle {
font-weight: bold;
font-size: 10px;
text-align: center;
}

.headerStyle {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #13505A;
    font-weight: 700;
}
.rules{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px
}
#app {
    min-height: 100vh;
}

.footer {
    background-color: #13505A;
    color: #fff;
    height: 50px;
    position: sticky;
    top: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.add-listing {
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
}

.add-listing button {
    cursor: pointer;
    height: 40px;
    width: 100px;
}

.marketplace-body {
    position: relative;
}

.marketplace-heading {
    font-size: 45px;
    text-align: center;
}

.listing {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #13505A;
    color: white;
    border-radius: 5px;
}

.listing p {
    margin: 15px;
}

.wrapper {
    margin-top: 40px;
    margin-left: 50px;
}

.stat {
    display: flex;
    width: 950px;
    flex-direction: column;
}
.statWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 100%; */
    align-items: flex-start;
    margin-left: 50px;
    align-content: space-around;
}

.stat p {
    font-size: 15pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    // text-align: center;
    color: grey;
}
.statItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.statInfo {
    font-size: 30px;
    font-weight: 700;
    color: #13505A;
    margin-right: 60px;
}

.statNum {
    font-size: 30px;
    font-weight: 700;
    color: #13505A;
    margin-left: 60px;
}


.poacher-form {
    width: 50vw;
    margin: 10px auto;
}
